* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
	width: 100%;
	/* background-color: #42505d; */
	background-image: linear-gradient(57deg, #3a4855 0%, #342a3d 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-image: linear-gradient(57deg, #3a4855 0%, #342a3d 100%);
}

.content {
	width: 100%;
	height: 100%;
}

.backside {
	position: fixed;
	top: 300px;
	left: -20%;
	z-index: 0;
	width: 150%;
	height: 500px;
	/* background-image: linear-gradient(to left, #4b4453, #4b4453, #4b4453, #4b4453, #4b4453); */
	background-image: linear-gradient(to right top, #615d66, #5d5667, #5a4e68, #564769, #523f69);
	transform: rotate3d(1, 1, 1, 350deg);
}

.headerSection {
	width: 100%;
	position: static;
	top: 0;
	z-index: 2;
	color: rgba(255, 255, 255, .8);
}

.main {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 100px;
	min-height: 585px;
	margin-bottom: 50px;
}

.main2 {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 100px;
	min-height: 585px;
	margin-bottom: 50px;
}

.template {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	min-height: 585px;
	margin-bottom: 50px;
}

.mainContainer {
	width: 1000px;
	height: fit-content;
	background-color: rgba(255, 255, 255, .8);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.3);
	padding: 20px 45px;
	z-index: 1;
}

.buttonDownloadContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonDownload {
	position: relative;
	z-index: 2;
	font-size: 25px;
	padding: 10px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: inherit;
	color: rgba(255, 255, 255, .8);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.3);
	outline: none;
	border: none;
	transition: .5s;
}

.buttonDownload:hover {
	transform: scale(105%);
}

.buttonDownload:active {
	transform: scale(100%);
	transition: 0s;
}

.footerContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	gap: 50px;
}

/* stepper */
.css-1wy08lz-MuiPaper-root-MuiMobileStepper-root {
	position: relative;
	z-index: 1;
	background: rgba(255, 255, 255, .8);
}

/* next page button */
.css-jh47zj-MuiButtonBase-root-MuiButton-root {
	background-image: linear-gradient(to right top, #615d66, #5d5667, #5a4e68, #564769, #523f69);
	color: rgba(255, 255, 255, .8);
	padding: 8px 5px 8px 22px;
	padding-right: 5px;
	width: 250px;
	height: 70px;
	font-size: 30px;
}

#moreInfoButton {
	color: #4c4c4c;
	height: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#addExperienceButton {
	margin-bottom: -20px;
	margin-top: 15px;
	color: #4c4c4c;
	height: 50px;
	display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.css-i4bv87-MuiSvgIcon-root {
	margin-bottom: 3px;
}

#demo-simple-select {
	width: 300px;
}

#skillid {
	width: 100%;
}

#avatar {
	width: 175px;
	height: 175px;
}

.css-z3c6am-MuiFormControl-root-MuiTextField-root {
	width: 500px;
}

svg {
	color: #4c4c4c;
}

#objectiveInput {
	position: fixed;
	width: 0px;
	height: 0px;
	top: 0;
	left: 0;
}

#saveButton {
	padding: 7px 15px;
	display: flex;
	gap: 6px;
	background-color: inherit;
	color: #4c4c4c;
	font-size: 15px;
	margin-top: 15px;
	border: 1px solid #4c4c4c;
	width: 120px;
}

#saveButton:hover {
	background-color: rgba(255, 255, 255, .5);
}


@media (max-width: 1200px) {
	.mainContainer {
		width: 700px;
		transition: .5s;
	}

	._objectiveContainer_1dtxj_3 {
		width: 700px;
		transition: .5s;
	}

	._educationContainer_1dtxj_43 {
		width: 700px;
		transition: .5s;
	}

	._expContainer_1dtxj_63 {
		width: 700px;
		transition: .5s;
	}

	._input_nd9bz_97 {
		min-width: 300px;
	}

	#demo-simple-select {
		width: 250px;
	}

	._section_q14mj_17 {
		width: 400pt;
		height: 600pt;
	}

	._image_q14mj_39 {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 950px) {
	.mainContainer {
		width: 370px;
		transition: .5s;
	}

	._objectiveContainer_1dtxj_3 {
		width: 370px;
		transition: .5s;
	}

	._educationContainer_1dtxj_43 {
		width: 370px;
		transition: .5s;
	}

	._expContainer_1dtxj_63 {
		width: 370px;
		transition: .5s;
	}

	._input_nd9bz_97 {
		min-width: 300px;
	}

	._section_q14mj_17 {
		width: 300pt;
		height: 600pt;
		padding: 15px;
	}

	._image_q14mj_39 {
		width: 100px;
		height: 100px;
	}

	._progressButtons_2z6bz_35 {
		gap: 55px;
	}

	._progressBar_2z6bz_45 {
		width: 350px;
	}

	._progressContainer_2z6bz_9 {
		margin-top: 25px;
	}

	._lable_zmxgh_141 {
		width: 100px;
		height: 100px;
	}

	._photoContainer_zmxgh_51 {
		width: 150px;
		height: 175px;
	}

	._datePicker_zmxgh_195 {
		font-size: 15px;
		width: 100%;
	}

	._phototext_zmxgh_83 {
		display: none;
	}
	/* .css-q8hpuo-MuiFormControl-root {
		visibility: hidden;
	} */

	#demo-simple-select {
		width: 80px;
	}

	._input_nd9bz_97 {
		min-width: 335px;
	}

	._section4_1dtxj_153 {
		justify-items: center;
	}

	._otherContainer_1dtxj_23 {
		width: 370px;
	}

	/* .css-q8hpuo-MuiFormControl-root {
		max-width: max-content;
	} */

	#saveButton {
		width: 100px;
	}

	._educationContainer_1dtxj_43 {
		padding: 15px;
	}

	._otherContainer_1dtxj_23 {
		padding: 15px;
	}

	._expContainer_1dtxj_63 {
		padding: 15px;
	}

	._objectiveContainer_1dtxj_3 {
		padding: 15px;
	}
}