* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root {
	width: 100%;
	/* background-color: #42505d; */
	background-image: linear-gradient(57deg, #3a4855 0%, #342a3d 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	width: 100%;
	height: 100%;
}

.backside {
	position: fixed;
	top: 220px;
	left: -20%;
	z-index: 0;
	width: 150%;
	height: 500px;
	/* background-image: linear-gradient(to left, #4b4453, #4b4453, #4b4453, #4b4453, #4b4453); */
	background-image: linear-gradient(to right top, #615d66, #5d5667, #5a4e68, #564769, #523f69);
	transform: rotate3d(1, 1, 1, 350deg);
}

.headerSection {
	width: 100%;
	position: static;
	top: 0;
	z-index: 2;
	color: rgba(255, 255, 255, .8);
}

.main {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 100px;
	min-height: 585px;
	margin-bottom: 50px;
}

.main2 {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 100px;
	min-height: 585px;
	margin-bottom: 50px;
}

.mainContainer {
	width: 1000px;
	height: fit-content;
	background-color: rgba(255, 255, 255, .8);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.3);
	padding: 20px 45px;
	z-index: 1;
}

.footerContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	gap: 50px;
}

/* stepper */
.css-1wy08lz-MuiPaper-root-MuiMobileStepper-root {
	position: relative;
	z-index: 1;
	background: rgba(255, 255, 255, .8);
}

/* next page button */
.css-jh47zj-MuiButtonBase-root-MuiButton-root {
	background-image: linear-gradient(to right top, #615d66, #5d5667, #5a4e68, #564769, #523f69);
	color: rgba(255, 255, 255, .8);
	padding: 8px 5px 8px 22px;
	padding-right: 5px;
	width: 250px;
	height: 70px;
	font-size: 30px;
}

#moreInfoButton {
	color: #4c4c4c;
	height: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.css-i4bv87-MuiSvgIcon-root {
	margin-bottom: 3px;
}

#avatar {
	width: 175px;
	height: 175px;
}

.css-z3c6am-MuiFormControl-root-MuiTextField-root {
	width: 500px;
}

svg {
	color: #4c4c4c;
}

#objectiveInput {
	position: fixed;
	width: 0px;
	height: 0px;
	top: 0;
	left: 0;
}

#saveButton {
	padding: 10px 15px;
	display: flex;
	gap: 10px;
	background-color: inherit;
	color: #4c4c4c;
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	border: 1px solid #4c4c4c;
}